.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    padding-top: 43px;
    position: fixed;
    top: 0;
    z-index: 50;
    transition: 0.3s;
}

.active{
    top: -100px;
}
.lang{
    border: 2px solid white;
    padding: 8px;
    border-radius: 100%;
    
}
@media(max-width:500px){
    .header{
        padding: 0 20px;
        padding-top: 43px;
    }
}